/* src/components/childcomponents/Card.css */



    @media (min-width: 1024px) {
        .cards {
            grid-template-columns: repeat(3, 1fr);
        }
    }
.specific-image-class img {
    object-fit: contain;
    width: 50%;
    height: 50%;

}


